 body {
            font-family: Arial, sans-serif;
            margin: 40px auto;
            max-width: 500px;
            background-color: #fea5cd;
            color: #333;
        }
        .container {
            background: #eb6295;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 12px 12px 12px rgba(0,0,0,0.2);
        }
        h2 { margin-top: 0; color: #2c3e50; }
        .form-group {
            margin-bottom: 15px;
        }
        label { display: block; margin-bottom: 5px; font-weight: bold; }
        input[type="number"], input[type="text"] {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 0px;
            border-radius: 20px;
        }
        .expense-row {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
        button {
            background-color: #fea5cd;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            margin-top: 10px;
            transition: background-color 0.4s ease, box-shadow 0.5s ease;
            font-weight: bold;
        }
        button:hover { background-color: #feb9d8; box-shadow: 0 0 15px rgba(254, 185, 216, 0.6);}
        .secondary-btn {
            background-color: #fea5cd;
            margin-bottom: 15px;
            transition: background-color 0.4s ease, box-shadow 0.5s ease;
        }
        .secondary-btn:hover { background-color: #feb9d8; box-shadow: 0 0 15px rgba(254, 185, 216, 0.6);}
        .output {
            margin-top: 25px;
            font-family: monospace;
            white-space: pre-wrap;
            background: black;
            color: #fea5cd;
            padding: 25px;
            border-radius: 20px;
            font-size: 20px;
        }