body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'lucida handwriting', cursive;
    flex-direction: column;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    height: 600px;
    width: 900px;
    padding-top: 50px;
    padding: 25px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(149, 89, 89, 0.7);
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-family: 'lucida handwriting';
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 10px;
    background-color: #2e6733;
    color: white;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
  }
  .yes-button:hover{
    
    background-color: #69c470; 
    box-shadow: 0 0 20px rgba(21, 46, 22, 0.7);
    transform: translateY(-2px); 
  }
  
  .no-button {
    font-family: 'lucida handwriting';
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #b13b3b;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
  }
   .no-button:hover{
    
    background-color: #f84848; 
    box-shadow: 0 0 20px rgba(112, 42, 42, 0.7);
    transform: translateY(-2px); 
  }
  .gif_container img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  .dare{
    color: #7d7878;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }