body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'lucida handwriting', cursive;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    height: 600px;
    width: 900px;
    padding-top: 50px;
    padding: 25px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(149, 89, 89, 0.7);
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
